<div class="create">
  <div class="create__form">
    <input class="create__input" [(ngModel)]="email" type="text" readonly />
    <form [formGroup]="passwordsForm" novalidate>
      <input minlength="8" class="create__input" type="password" placeholder="Пароль" formControlName="password" />
      <div *ngIf="passwordsForm.controls['password'].errors && passwordsForm.controls['password'].touched">
        <div *ngIf="passwordsForm.controls['password'].errors.required">
          <app-popup [error1]="'Введите пароль'"></app-popup>
        </div>
        <div *ngIf="passwordsForm.controls['password'].errors.minlength">
          <app-popup [error1]="'Минимальная длинна пароля 8 символов'"></app-popup>
        </div>
      </div>
      <div
        *ngIf="passwordsForm.controls['password'].errors && passwordsForm.controls['password'].errors.required && passwordsForm.controls['password'].touched">
        <app-popup [error1]="'Введите пароль'"></app-popup>
      </div>
      <input class="create__input" type="password" placeholder="Повторите пароль" formControlName="passwordConfirm" />
      <div
        *ngIf="passwordsForm.controls['passwordConfirm'].errors && passwordsForm.controls['passwordConfirm'].errors.match && passwordsForm.controls['passwordConfirm'].touched">
        <app-popup [error1]="passwordsForm.controls['passwordConfirm'].errors.match"></app-popup>
      </div>
      <div
        *ngIf="passwordsForm.controls['passwordConfirm'].errors && passwordsForm.controls['passwordConfirm'].errors.required && passwordsForm.controls['passwordConfirm'].touched">
        Введите подтверждение пароля
      </div>
      <button class="create__button" (click)="restore(email, passwordsForm.value.password)">Изменить пароль</button>
      {{message}}
    </form>
  </div>
</div>