<header class="header">
    <div class="header__logo">Сlever</div>
        <div class="header__menu">
            <a class="header__item" href="/">Главная</a>
            <a class="header__item" href="/services">Услуги</a>
            <a class="header__item" href="/projects">Проекты</a>
            <a class="header__item" href="/contacts">Контакты</a>
            <a *ngIf = "!isLoggedIn" class="header__item" href="/login">Вход</a>
            <a *ngIf = "isLoggedIn" class="header__item" href="/cabinet">Кабинет</a>
        </div>
</header>