<app-header></app-header>
<div class = "content">     
    <div class="content__item">
        <img class = "content__image left-float" src="https://s8.hostingkartinok.com/uploads/images/2020/02/1da6e4968c04e37723d9433cbf751c11.jpg"/>
        <h2>О нас</h2>
        <p>Для команды Нижегородского инновационного бизнес-инкубатора главной целью является создание благоприятных условий для динамичного развития малых инновационных компаний, содействие в выводе их проектов на рынок, создание активной среды для компаний, персонал которых еще не имеет практического опыта коммерциализации новых продуктов.</p>
        <p>Здесь вы получите необходимую поддержку, погрузитесь в среду единомышленников и с высокой долей вероятности добьетесь успеха!</p>
    </div>
    
    <div class="content__item">
        <img class = "content__image right-float" src="https://s8.hostingkartinok.com/uploads/images/2020/02/12607b691397d07d228be13f471d10fe.jpg"/>
        <h2>Технопарк Анкудиновка</h2>
        <p>Технопарк "Анкудиновка" комплекс, включающий в себя инфраструктуру государственной поддержки малого и среднего инновационного бизнеса в Нижегородской области. Является определяющим звеном всего комплекса поддержки инновационного предпринимательства в Нижегородской области.</p>
        <p>Структуру «Анкудиновки» образуют два объекта: бизнес-центр технопарка (более 12 тыс.кв.м) и бизнес-инкубатор технопарка (более 5 тыс.кв.м).</p>
        <p>Отраслевая специализация технопарка — информационные и коммуникационные технологии, приборостроение, машиностроение, электронная техника, химические и биомедицинские технологии, а также разработка новых материалов.
        <p>>Основой стратегии деятельности является реализация принципа «единого окна» для компаний-резидентов.  Суть данной концепции заключается в оказании содействия в решении максимально возможного количества вопросов и проблем, возникающих у резидентов (как потенциальных, так и действующих), начиная с подбора и осмотра помещений и заканчивая вопросами текущей деятельности и дополнительных услуг, предоставлении максимально широкого комплекса услуг для ведения бизнеса.
        </p>
    </div>
    <div class="content__item">
        <img  class = "content__image left-float" src="https://s8.hostingkartinok.com/uploads/images/2020/02/c69b0f797b1c3e4008e410833537aadd.jpeg"/>
        <h2>История создания</h2>
        <p>Бизнес-инкубатор создан в 2007 году совместными усилиями федерального и регионального правительств. Главная задача бизнес-инкубатора - содействие в выводе инновационных продуктов на рынок; создание благоприятных условий для развития инновационных компаний, персонал которых, как правило, не имеет практического опыта коммерциализации новых продуктов.</p>
        <p>В 2016 г. Нижегородский инновационный бизнес-инкубатор был признан лучшим бизнес-инкубатором России в рамках Национальной премии «Молодые львы-2016».</p>
        <p>Бизнес-инкубатор технопарка начал свою работу в 2011 году. Бизнес-инкубатор технопарка реализует программу инкубации, которая предназначена для компаний, работающих в сфере высоких технологий, находящихся на посевной стадии развития, когда уже сформирована бизнес-идея и ядро команды проекта, подтверждаются результаты исследований, ведется подготовка к патентованию, готовится прототип, но проекту требуется оказание содействия в привлечении недостающих интеллектуальных и материально-технических ресурсов. Цель этой программы - создание функционирующего бизнеса от бизнес-плана до выхода на рынок, привлечение финансирования в проект, организация взаимодействия с потенциальными заказчиками и партнерами.  </p>
        <p>Открытие бизнес-центра технопарка «Анкудиновка» состоялось в Нижнем Новгороде 8 июня 2015 года. В июле 2015 года бизнес-центр Технопарка был передан в оперативное управление государственному учреждению «Нижегородский инновационный бизнес-инкубатор». Таким образом, ГУ «НИБИ» получило статус управляющей компании технопарка «Анкудиновка» в сфере высоких технологий. </p>
    </div>
</div>
<app-footer></app-footer>