<app-header></app-header>
<div class="contacts">
    <h4>Мы находимся по адресу: </h4>
    <div>
        <p>603152, Россия, г. Нижний Новгород, ул. Ларина, 22</p>
        <p>Телефон/факс: +7(831)275-80-20</p>
        <p>E-mail: info@bi-clever.ru</p>
        <div class="contacts__map">
            <angular-yandex-map [center]="[56.23952534782243,44.00421356068014]" [zoom]="18">
                <angular-yandex-placemark [geometry]="[56.23952534782243,44.00421356068014]"
                    [properties]="placemarkProperties" [options]="placemarkOptions"></angular-yandex-placemark>
            </angular-yandex-map>
        </div>
        <h4> Режим работы:</h4>
        <p>Пн – чт: 9:00 - 18:00</p>
        <p>Пятница: 9:00 - 17:00</p>
        <p>Сб – вс : выходные дни</p>
        <p>Перерыв : 13:00 - 14:00 </p>
    </div>
</div>
<app-footer></app-footer>