<app-header></app-header>
<div class="main">
    <div class="projects">
        <div class = "projects__up">
        <select class="project__sorting" (change)="sorting()" [(ngModel)]="sortingValue">
            <option value="1">Сортировка по названию</option>
            <option value="2">Сортировка по цене </option>
            <option value="3">Сортировка по лимиту времени</option>
        </select>
        <div class="projects__search">
            <input class="projects__search-input" [(ngModel)]="searchWord" placeholder=" Введите название проекта...">
            <button class="projects__search-button" (click)="search()"></button>
            <div *ngIf="searchMessage">
                <div>
                    {{searchMessage}}<img class="project__cancel-button" src="/assets/images/cancel.png"
                        (click)="cancelSearch()">
                </div>
            </div>
        </div>
    </div>
        <div *ngFor="let i = index; let project of showingProjects;">
            <div *ngIf="project.approved">
                <div class="projects__item" [routerLink]="['project', i]">{{project.name}}
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>