<div class="restore">
    <app-header></app-header>
    <div class="restore__window">
        <form [formGroup]="myForm" class="restore__form">
            <div *ngIf="!myForm.controls['email'].errors || !myForm.controls['email'].touched" class="restore__error-message"></div>
            <div *ngIf="myForm.controls['email'].errors && myForm.controls['email'].touched">
                <div *ngIf="myForm.controls['email'].errors.email" class="restore__error-message">
                    Некоректный email
                </div>
                <div *ngIf="myForm.controls['email'].errors.required" class="restore__error-message">
                    Введите email
                </div>
            </div>
            <input class="restore__input" type="text" placeholder="Введите ваш email" formControlName="email" />
            <button class="restore__button" (click)="goRestore()" [disabled]="myForm.invalid">Восстановить</button>
        </form>
    </div>
</div>
<app-footer></app-footer>