<div class="restore">

    <div class="restore__window">
        <form [formGroup]="myForm" class="restore__form">
            <div *ngIf="!send">
                <div *ngIf="!myForm.controls['email'].errors || !myForm.controls['email'].touched"
                    class="restore__error-message"></div>
                <div *ngIf="myForm.controls['email'].errors && myForm.controls['email'].touched">
                    <div *ngIf="myForm.controls['email'].errors.email" class="restore__error-message">
                        Некоректный email
                    </div>
                    <div *ngIf="myForm.controls['email'].errors.required" class="restore__error-message">
                        Введите email
                    </div>
                </div>
                <input class="restore__input" type="text" placeholder="Введите ваш email" formControlName="email" />
                <button class="restore__button" (click)="sendEmail(myForm.value.email)"
                    [disabled]="myForm.invalid">Подтвердить</button>
            </div>
            <div *ngIf = "!successSend && send && !falseSend">
                <img class = "restore__load" src = "assets/images/load.gif">
            </div>
            <div *ngIf = "successSend || falseSend">
                {{message}}
            </div>
        </form>
    </div>
</div>