<div class="user" *ngIf="users">
    <div>
        <p></p><b class="user__header">ФИО:</b>
    </div>
    <form [formGroup]="myForm" novalidate>
        <div class="user__item">
            <div class="user__view" [ngClass]="{invisible: userChangeMode}">
                {{users[CurentUserId].secondName}} {{users[CurentUserId].firstName}} {{users[CurentUserId].lastName}}
            </div>
            <div formGroupName="FIOForm" [ngClass]="{invisible: !userChangeMode}">
                <input class="user__change" setWidth={{myForm.value.FIOForm.secondName}} formControlName="secondName" />
                <input class="user__change" setWidth={{myForm.value.FIOForm.firstName}} formControlName="firstName" />
                <input class="user__change" setWidth={{myForm.value.FIOForm.lastName}} formControlName="lastName" />
                <div class="user__error" *ngIf="myForm.get('FIOForm').controls['secondName'].invalid">Введите фамилию
                </div>
                <div class="user__error" *ngIf="myForm.get('FIOForm').controls['firstName'].invalid">Введите имя</div>
                <div class="user__error" *ngIf="myForm.get('FIOForm').controls['lastName'].invalid">Введите отчество
                </div>
            </div>

        </div>
        <p><b class="user__header">Телефонный номер: </b>
            <div class="user__item">
                <div class="user__view" [ngClass]="{invisible: userChangeMode}">{{users[CurentUserId].phoneNumber}}
                </div>
                <div [ngClass]="{invisible: !userChangeMode}">
                    <input class="user__change" setWidth={{users[CurentUserId].phoneNumber}} formControlName="phone" />
                    <div *ngIf="myForm.controls['phone'].errors">
                        <div class="user__error" *ngIf="myForm.controls['phone'].errors.pattern">Введить номер в формате
                            89051234567</div>
                        <div class="user__error" *ngIf="myForm.controls['phone'].errors.required">Введите телефонный
                            номер</div>
                    </div>
                </div>
            </div>
            <p><b class="user__header">Email: </b>
                <div class="user__item">
                    <div class="user__view" [ngClass]="{invisible: userChangeMode}">{{users[CurentUserId].email}}
                    </div>
                    <div [ngClass]="{invisible: !userChangeMode}">
                        <input class="user__change" setWidth={{users[CurentUserId].email}} formControlName="email" />
                        <div *ngIf="myForm.controls['email'].errors">
                            <div class="user__error" *ngIf="myForm.controls['email'].errors.email">Неправильный email
                            </div>
                            <div class="user__error" *ngIf="myForm.controls['email'].errors.required">Введите email
                            </div>
                        </div>
                    </div>
                </div>
                <button class="user__button" [disabled]="myForm.invalid" [ngClass]="{invisible: !userChangeMode}"
                    (click)="save(myForm.value.FIOForm.firstName, myForm.value.FIOForm.lastName, myForm.value.FIOForm.secondName, myForm.value.phone, myForm.value.email)">Сохранить</button>
                <button class="user__button" [ngClass]="{invisible: userChangeMode}"
                    (click)="change()">Редактировать</button>
    </form>
</div>