<div class="user">
    <form [formGroup]="form" name="form" #f="ngForm" *ngIf="user" novalidate>
        <div class="user__item">
            <div>
                <p></p><b class="user__header">Логин:</b>
            </div>
            <div class="user__view" [ngClass]="{invisible: false}">{{user.username}}
            </div>
            <div [ngClass]="{invisible: true}">
                <input class="user__change" setWidth={{user.username}} name="username"
                    formControlName="username" />
            </div>
        </div>
        <div class="user__item">
            <div>
                <p></p><b class="user__header">ФИО:</b>
            </div>
            <div class="user__view" [ngClass]="{invisible: userChangeMode}">
                {{user.second_name}} {{user.first_name}} {{user.last_name}}
            </div>
            <div class = "user__change" [ngClass]="{invisible: !userChangeMode}">
                <input class="user__change-field" setWidth={{form.value.second_name}}
                    formControlName="second_name" />
                <input class="user__change-field" setWidth={{form.value.first_name}}
                    formControlName="first_name" />
                <input class="user__change-field" setWidth={{form.value.last_name}}
                    formControlName="last_name" />
                <div class="user__error" *ngIf="form.controls['second_name'].invalid">Введите фамилию
                </div>
                <div class="user__error" *ngIf="form.controls['first_name'].invalid">Введите имя</div>
                <div class="user__error" *ngIf="form.controls['last_name'].invalid">Введите отчество
                </div>
            </div>
        </div>
        <div class="user__item">
            <div>
                <p></p><b class="user__header">Телефонный номер:</b>
            </div>
            <div class="user__view" [ngClass]="{invisible: userChangeMode}">{{user.phone_number}}
            </div>
            <div class = "user__change" [ngClass]="{invisible: !userChangeMode}">
                <input class="user__change-field" setWidth={{form.value.phone_number}}
                    formControlName="phone_number" />
                <div *ngIf="form.controls['phone_number'].errors">
                    <div class="user__error" *ngIf="form.controls['phone_number'].errors.pattern">Введить номер в
                        формате
                        89051234567</div>
                    <div class="user__error" *ngIf="form.controls['phone_number'].errors.required">Введите
                        телефонный
                        номер</div>
                </div>
            </div>
        </div>
        <div class="user__item">
            <div>
                <p></p><b class="user__header">Email:</b>
            </div>
            <div class="user__view" [ngClass]="{invisible: userChangeMode}">{{user.email}}
            </div>
            <div class = "user__change" [ngClass]="{invisible: !userChangeMode}">
                <input class="user__change-field" setWidth={{form.value.email}}
                    formControlName="email" />
                <div *ngIf="form.controls['email'].errors">
                    <div class="user__error" *ngIf="form.controls['email'].errors.email">Неправильный email
                    </div>
                    <div class="user__error" *ngIf="form.controls['email'].errors.required">Введите email
                    </div>
                </div>
            </div>
        </div>
        <div class="user__buttons">
            <button class="user__button" [ngClass]="{invisible: !userChangeMode}"
                (click)="onSubmit(); userChangeMode=!userChangeMode">Сохранить</button>
            <button class="user__button" [ngClass]="{invisible: userChangeMode}"
                (click)="change()">Редактировать</button>
            <button class="user__button" (click)="logout()">Выйти</button>
        </div>
    </form>
</div>