.user {
    font-family: "Roboto", sans-serif;
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
    height: 1000px;
    padding: 1%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.user__buttons {
  margin-left: 3%;
}
.user__button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    margin-left: 2%;
    background: #98d361;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    width: 15%;
    margin-top: 10px;
  }
  .user__button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .user__item {
    position: relative;
    margin-left: 5%;
  }
  .user__header {    
    position: relative;
    padding: 4px 1px 4px 1px;
    float: left;
  }

  .user__view {  
    position: relative;
    padding: 4px 4px 4px 4px;
    left: 1%;
  }

  .user__change{
    position: relative;
    left: 1%;
  }
  .user__change-field {      
    padding: 3px 4px 3px 4px;
    font-family: "Roboto", sans-serif;  
    font-size: 18px;
    outline: 0;
    border: 1px solid grey;
    border-radius: 3px;
  }

  .invisible {
      display: none;
  }
  .user__error {
    color: red;
    font-size: 13px;
  }

  .user__exp-head {
    margin-top: 50px;
    font-family: "Roboto", sans-serif;  
    font-size: 20px;
    font-weight: 500;
  }
  .user_experience {
    margin-top: 1%;
    margin-left: 1%;
    width: 98%;
    border: 1px solid rgb(192,192,192);
    border-spacing: 0px;
    border-collapse: collapse;
}
.user__experience-td {
    text-align: center;
    width:10%;
    height: 60px;
    border: 1px solid rgb(192,192,192);
    margin:0px;
}
.width-7 {
    width: 7%;
}
.user__experience-head {
    height: 45px;
}
.user__experience-numb {
  width: 3%;
}
.left-5 {
  margin-left: 5%;
}
.left-2 {
  margin-left: 2%;
}

.width-20 {
  width: 20%;
}
.user__addExp-item {
  float: left;
}
.user__addExp-field {
    padding: 3px 4px 3px 4px;
    font-family: "Roboto", sans-serif;  
    font-size: 16px;
    outline: 0;
    border: 1px solid grey;
    border-radius: 3px;
}
.user__addExp-date {  
  padding: 0px 4px 1px 4px;
  border: 1px solid grey;
  border-radius: 3px;
  outline: 0;
  font-family: "Roboto", sans-serif;  
  font-size: 16px;
  width: 90%;
}
.user__addExp {
  margin-left:5%;
}
.user__delete-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  margin-left: 2%;
  background: #98d361;
  border: 0;
  padding: 7px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
}

.user__addExp-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  margin-left: 2%;
  background: #98d361;
  border: 0;
  border-radius: 3px;
  padding: 7px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  margin-top: 55px;
  width: 10%;
}
  .user__change-field.ng-invalid {border:solid red 1px;}
  .user__change-field.ng-valid {border:solid #98d361 1px;}

