<div class="main">
    <div class="projects">
        <div class="projects__up">
            <div *ngIf="userAdmin">
                <select class="project__sorting" (change)="sortChange()" [(ngModel)]="sortingValue">
                    <option value="name">Сортировка по названию</option>
                    <option value="cost">Сортировка по цене </option>
                </select>
            </div>
            <div *ngIf="userAdmin">
                <select class="project__sorting left-5" (change)="groupByApprove(true)" [(ngModel)]="approvedSelectValue">
                    <option value="1">Все проекты</option>
                    <option value="2">Только одобренные проекты </option>
                    <option value="3">Только проекты на рассмотрении</option>
                </select>
            </div>
            <div class="projects__search">
                <input class="projects__search-input" [(ngModel)]="searchWord"
                    placeholder=" Введите название проекта...">
                <button class="projects__search-button" (click)="findProjects(true)"></button>
                <div *ngIf="searchMessage">
                    <div>
                        {{searchMessage}}<img class="project__cancel-button" src="/assets/images/cancel.png"
                            (click)="cancelSearch()">
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="findedProjectsLength === 0">
            <div *ngFor="let i = index; let project of showingProjects;">
                <div class="projects__item" [ngClass]="{'left-yellow': !project.approved}"
                    [routerLink]="['project', project.id]">{{project.name}}
                </div>
            </div>
        </div>
        <div *ngIf="findedProjectsLength > 0">
            <div *ngFor="let i = index; let project of findedProjects;">
                <div class="projects__item" [ngClass]="{'left-yellow': !project.approved}"
                    [routerLink]="['project', project.id]">{{project.name}}
                </div>
            </div>
        </div>
    </div>
</div>