<div class="user" *ngIf = "user && userAdmin">
        <div class="user__item">
            <div>
                <p></p><b class="user__header">Логин:</b>
            </div>
            <div class="user__view" [ngClass]="{invisible: false}">{{user.username}}
            </div>
        </div>
        <div class="user__item">
            <div>
                <p></p><b class="user__header">ФИО:</b>
            </div>
            <div class="user__view" [ngClass]="{invisible: userChangeMode}">
                {{user.secondName}} {{user.firstName}} {{user.lastName}}
            </div>
        </div>
        <div class="user__item">
            <div>
                <p></p><b class="user__header">Телефонный номер:</b>
            </div>
            <div class="user__view" [ngClass]="{invisible: userChangeMode}">{{user.phoneNumber}}
            </div>
        </div>
        <div class="user__item">
            <div>
                <p></p><b class="user__header">Email:</b>
            </div>
            <div class="user__view" [ngClass]="{invisible: userChangeMode}">{{user.email}}
            </div>
        </div>
    <p></p>
    <p><div class="user__exp-head left-5">Опыт работы</div>
    <table *ngIf="user && user.experience.length > 0" class="user_experience">
        <ng-container >
        <tbody>
            <tr>
                <th class="user__experience-head"></th>
                <th class="user__experience-head">Организация</th>
                <th class="user__experience-head">Должность</th>
                <th class="user__experience-head">Начало работы</th>
                <th class="user__experience-head">Окончание</th>
                <th class="user__experience-head">Стаж</th>
            </tr>
            <tr *ngFor="let i = index; let experience of user.experience;">
                    <td class="user__experience-td user__experience-numb">{{i+1}}</td>
                    <td class="user__experience-td">{{experience.company}}</td>
                    <td class="user__experience-td">{{experience.position}}</td>
                    <td class="user__experience-td width-7">{{dateConvert(experience.beginning_date)}}</td>
                    <td class="user__experience-td width-7">{{dateConvert(experience.end_date)}}</td>
                    <td class="user__experience-td width-7">{{experience.experience_months}} месяцев</td>
            </tr>
        </tbody>
    </ng-container>
    </table>
</div>