<app-header></app-header>
<div class="create">
  <form class="create__form" [formGroup]="PasswordsForm" novalidate (ngSubmit)="submit()">
      <input minlength="8" class="create__input" type="text" placeholder="Пароль" formControlName="password" />
      <div *ngIf="PasswordsForm.controls['password'].errors && PasswordsForm.controls['password'].touched">
       <div *ngIf = "PasswordsForm.controls['password'].errors.required">
        <app-popup [error1] = "'Введите пароль'"></app-popup>
      </div>
      <div *ngIf = "PasswordsForm.controls['password'].errors.minlength">
        <app-popup [error1] = "'Минимальная длинна пароля 8 символов'"></app-popup>
      </div>
      </div>
      <div *ngIf="PasswordsForm.controls['password'].errors && PasswordsForm.controls['password'].errors.required && PasswordsForm.controls['password'].touched">
        <app-popup [error1] = "'Введите пароль'"></app-popup>
      </div>
      <input class="create__input" type="text" placeholder="Повторите пароль"  formControlName="passwordConfirm" />
      <div *ngIf="PasswordsForm.controls['passwordConfirm'].errors && PasswordsForm.controls['passwordConfirm'].errors.match && PasswordsForm.controls['passwordConfirm'].touched">
        <app-popup [error1] = "PasswordsForm.controls['passwordConfirm'].errors.match"></app-popup>
      </div>
      <div *ngIf="PasswordsForm.controls['passwordConfirm'].errors && PasswordsForm.controls['passwordConfirm'].errors.required && PasswordsForm.controls['passwordConfirm'].touched">
        Введите подтверждение пароля
      </div>
    <button class="create__button">Изменить пароль</button>
  </form>
</div>
<app-footer></app-footer>