 
<div class="create">
  <div class = "create__form">
  <input class="create__input" [(ngModel)]="email" type="text" readonly/>
  <form  [formGroup]="PasswordsForm" novalidate>    
      <input minlength="8" class="create__input" type="password" placeholder="Пароль" formControlName="password" />
      <div *ngIf="PasswordsForm.controls['password'].errors && PasswordsForm.controls['password'].touched">
       <div *ngIf = "PasswordsForm.controls['password'].errors.required">
        <app-popup [error1] = "'Введите пароль'"></app-popup>
      </div>
      <div *ngIf = "PasswordsForm.controls['password'].errors.minlength">
        <app-popup [error1] = "'Минимальная длинна пароля 8 символов'"></app-popup>
      </div>
      </div>
      <div *ngIf="PasswordsForm.controls['password'].errors && PasswordsForm.controls['password'].errors.required && PasswordsForm.controls['password'].touched">
        <app-popup [error1] = "'Введите пароль'"></app-popup>
      </div>
      <input class="create__input" type="password" placeholder="Повторите пароль"  formControlName="passwordConfirm" />
      <div *ngIf="PasswordsForm.controls['passwordConfirm'].errors && PasswordsForm.controls['passwordConfirm'].errors.match && PasswordsForm.controls['passwordConfirm'].touched">
        <app-popup [error1] = "PasswordsForm.controls['passwordConfirm'].errors.match"></app-popup>
      </div>
      <div *ngIf="PasswordsForm.controls['passwordConfirm'].errors && PasswordsForm.controls['passwordConfirm'].errors.required && PasswordsForm.controls['passwordConfirm'].touched">
        Введите подтверждение пароля
      </div>
    <button class="create__button" (click) = "restore(email, PasswordsForm.value.password)">Изменить пароль</button>
    {{message}}
  </form>
</div>
</div>
 