<div class="registration">
  <form class="registration__form" [formGroup]="form" novalidate *ngIf="!isSuccessful" name="form"
   #f="ngForm" novalidate>
    <input class="registration__input" type="text"
      formControlName="username" placeholder="Логин" />
    <div class="form-group">
      <div class="form-group">
        <input class="registration__input" type="text" name="secondname" placeholder="Фамилия" formControlName="secondname" />
        <div *ngIf="form.controls['secondname'].invalid && form.controls['secondname'].touched">
          <app-popup [error1]="'Введите фамилию'"></app-popup>
        </div>
        <input class="registration__input" type="text" name="firstname" placeholder="Имя" formControlName="firstname"/>
        <div *ngIf="form.controls['firstname'].invalid && form.controls['firstname'].touched">
          <app-popup [error1]="'Введите имя'"></app-popup>
        </div>
        <input class="registration__input" type="text" placeholder="Отчество" formControlName="lastname"
          name="lastname" />
        <div *ngIf="form.controls['lastname'].invalid && form.controls['lastname'].touched">
          <app-popup [error1]="'Введите отчество'"></app-popup>
        </div>
      </div>
    </div>
    <input class="registration__input" type="text" placeholder="email" formControlName="email" name="email"
      />
    <div *ngIf="form.controls['email'].errors && form.controls['email'].touched">
      <div *ngIf="form.controls['email'].errors.email">
        <app-popup [error1]="'Неправильный email'"></app-popup>
      </div>
      <div *ngIf="form.controls['email'].errors.required">
        <app-popup [error1]="'Введите email'"></app-popup>
      </div>
    </div>
    <input class="registration__input" type="text" placeholder="Телефонный номер" formControlName="phonenumber"
      name="phonenumber" />
    <div *ngIf="form.controls['phonenumber'].errors && form.controls['phonenumber'].touched">
      <div *ngIf="form.controls['phonenumber'].errors.pattern">
        <app-popup [error1]="'Введить номер в формате 89051234567'"></app-popup>
      </div>
      <div *ngIf="form.controls['phonenumber'].errors.required">
        <app-popup [error1]="'Введите телефонный номер'"></app-popup>
      </div>
    </div>
    <div formGroupName="PasswordsForm">
      <input minlength="8" class="registration__input" type="password" placeholder="Пароль" formControlName="password"
        name="password" />
      <div
        *ngIf="form.get('PasswordsForm').controls['password'].errors && form.get('PasswordsForm').controls['password'].touched">
        <div *ngIf="form.get('PasswordsForm').controls['password'].errors.required">
          <app-popup [error1]="'Введите пароль'"></app-popup>
        </div>
        <div *ngIf="form.get('PasswordsForm').controls['password'].errors.minlength">
          <app-popup [error1]="'Минимальная длинна пароля 8 символов'"></app-popup>
        </div>
      </div>
      <div
        *ngIf="form.get('PasswordsForm').controls['password'].errors && form.get('PasswordsForm').controls['password'].errors.required && form.get('PasswordsForm').controls['password'].touched">
        <app-popup [error1]="'Введите пароль'"></app-popup>
      </div>
      <input class="registration__input" type="password" placeholder="Повторите пароль"
        formControlName="passwordConfirm" />
      <div
        *ngIf="form.get('PasswordsForm').controls['passwordConfirm'].errors && form.get('PasswordsForm').controls['passwordConfirm'].errors.match && form.get('PasswordsForm').controls['passwordConfirm'].touched">
        <app-popup [error1]="form.get('PasswordsForm').controls['passwordConfirm'].errors.match"></app-popup>
      </div>
      <div
        *ngIf="form.get('PasswordsForm').controls['passwordConfirm'].errors && form.get('PasswordsForm').controls['passwordConfirm'].errors.required && form.get('PasswordsForm').controls['passwordConfirm'].touched">
        Введите подтверждение пароля
      </div>
    </div>
    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
      {{ errorMessage }}
    </div>
    <button class="registration__button" (click) = "registration()" [disabled]="form.invalid">Зарегистрироваться</button>
    <p class="registration__message">Уже зарегистрированы? <a class="registration__create" href="/#/login">Войти</a>
    </p>