<div>
    <div class="services">
        <div class="services__stages">
            <h2 class="services__header">Стадии развития проекта</h2>
            <div class="services__item">
                <h3 class="services__h3"> Первая стадия содействия в развитии проекта </h3>
                <p><b>Цель</b> – формулирование и детализация бизнес-идеи </p>
                <p><b>Длительность</b> программы – 2 месяца</p>
                <p><b>Пакет услуг: </b></p>
                <li>Помощь в подготовке бизнес-плана: составление операционного и финансового плана проекта;</li>
                <li>Юридические консультации по регистрации компании, иные консультационные услуги;</li>
                <li>Предоставление информации о потенциальных источниках финансирования;</li>
                <li>Содействие в формировании команды и подборе персонала;</li>
                <li>Подготовка презентации проекта.</li>
                <p></p>
                <p>Данная программа разработана для начинающих предпринимателей, не имеющих навыков бизнес-планирования,
                    практического опыта коммерциализации новых продуктов, для людей, у которых есть инновационная идея,
                    но
                    нет понимания, как ее воплотить в жизнь. Начинающий предприниматель заполняет форму заявки на
                    участие в программе прединкубации на сайте бизнес-инкубатора CLEVER. Далее заявление рассматривает
                    комиссия. В состав комиссии входят представители министерства поддержки и развития малого
                    предпринимательства,
                    потребительского рынка и услуг Нижегородской области и бизнес-инкубатора CLEVER.</p>

                <p>Комиссия собирается по мере поступления заявок, но не чаще одного раза в квартал. Члены комиссии
                    оценивают идею по следующим критериям:</p>
                <li>Четкость и понятность описания идеи;</li>
                <li>Инновационность идеи;</li>
                <li>Возможность коммерциализации данной идеи и коммерческой перспективы;</li>
                <li>Стоимость, объемы реализации конечного продукта;</li>
                <li>Занятость и др. критерии (в начальный период деятельности) должны подпадать под определение малого
                    предприятия, т.е. соответствовать 209- ФЗ.</li>
                <p></p>
                <p>Дополнительные критерии оценки и сравнения заявок (при наличии нескольких заявок и их соответствии
                    требованиям, комиссия определяет их приоритетный порядок):</p>
                <li>Срок реализации идеи до выхода на рынок;</li>
                <li>Наличие предпринимательского опыта у заявителя;</li>
                <li>Объем требуемых инвестиций;</li>
                <li>Наличие потенциальных инвесторов и другие.</li>

            </div>
            <div class="services__line"></div>
            <div class="services__item">
                <h3 class="services__h3">Вторая стадия содействия в развитии проекта</h3>
                <p><b>Цели</b> – создание функционирующего бизнеса, привлечение финансирования в проект, организация
                    взаимодействия с потенциальными заказчиками и партнерами</p>
                <p><b>Длительность программы</b> – 36 месяцев</p>
                <p><b> Пакет услуг:</b></p>
                <li> Предоставление оборудованного офиса в аренду на льготных условиях (от 320 руб/кв.м);</li>
                <li> Индивидуальная работа с координатором проекта;</li>
                <li>Обучение основам предпринимательской деятельности для сотрудников компании;</li>
                <li>Правовое сопровождение деятельности компании (юридические услуги на бесплатных или льготных
                    условиях);</li>
                <li>Бухгалтерские услуги (на бесплатной или льготной основах): оказание консультационных услуг по
                    вопросам налогообложения, бухгалтерского учета, кредитования, оказание услуг по составлению
                    бухгалтерской и налоговой отчетности, консультирование по вопросам льгот, предоставляемых органами
                    муниципальной, областной и федеральной власти субъектам инновационного бизнеса;</li>
                <li>Содействие в поиске персонала: размещение информации на официальном сайте бизнес-инкубатора;
                    организация практики студентов технических, инновационных и других специальностей в
                    компаниях-резидентах для дальнейшего трудоустройства;</li>
                <li>Комплекс услуг по проведению деловых мероприятий: аренда конференц-зала для проведения мероприятий
                    любого формата: конференций, круглых столов, деловых совещаний, видеоконференций, корпоративных
                    мероприятий, выставок и церемоний награждения; организация и проведение публичных мероприятий, акций
                    и презентаций по продвижению инновационных продуктов;</li>
                <li>Услуги по продвижению проектов:
                    информирование о проведении различных выставочно-ярмарочных мероприятий как в России, так и за
                    рубежом (участие для резидентов на безвозмездных или льготных условиях); </li>
                <li>Содействие в поиске инвесторов:
                    информирование о мерах государственной поддержки инновационных проектов (региональных и
                    федеральных);
                    информирование о проводимых мероприятиях по привлечению средств российских и иностранных инвесторов
                    для реализации инновационных проектов; участие в проведении переговоров между компанией и
                    инвестором; </li>
                <li>Содействие в преодолении административных барьеров:
                    организация взаимодействия с органами исполнительной власти
                    организация взаимодействия с крупными промышленными предприятиями Нижегородской области;
                    посредничество в контактах с потенциальными деловыми партнерами; </li>
                <li>Услуги по предоставлению парковки: обеспечение круглосуточной охраны и видеомониторинга.</li>
            </div>
        </div>
        <p></p>
        <div class="services__conf">
            <h3 class="services__h3">Конференц-услуги</h3>
            <p>В бизнес-инкубаторе CLEVER есть несколько площадок для проведения мероприятий - конференций, презентаций,
                семинаров, лекций, встреч и других мероприятий и событий. </p>
            <p>Конференц-зона состоит из двух конференц-залов и переговорной комнаты, зоны отдыха и неформального
                общения, а также кафе.</p>
            <p> Конференц-зал №1 рассчитан на 100-110 человек, общей площадью - 140 кв.м. Зал оснащен системами
                кондиционирования, звукоусиления, конференц-системой с индивидуальными микрофонами, презентационным
                оборудованием, мебелью (столы, стулья, кафедры, два экрана). По Вашему желанию, возможны различные
                варианты расстановки мебели.</p>
            <p>Конференц-зал №2 рассчитан на 150-160 человек, общей площадью - 200 кв.м. Зал также оснащен системами
                кондиционирования, звукоусиления, конференц-системой с индивидуальными микрофонами, презентационным
                оборудованием, мебелью (столы, стулья, кафедры, экран). По Вашему желанию, возможны различные варианты
                расстановки мебели.</p>
            <p>В единстве с техническими инновациями оба конференц-зала позволяют создать насыщенную информационную
                среду, необходимую для проведения мероприятий.</p>
            <p>Переговорная комната рассчитана на 12-15 человек, общей площадью - 25 кв.м. Комната оборудована системой
                для проведения видео-конференций, презентационным оборудованием и флипчартом.</p>
            <img class="services__image"
                src="https://s8.hostingkartinok.com/uploads/images/2020/02/4c0701dc898a9b7759b5c98b21f05b96.jpg">
            <img class="services__image"
                src="https://s8.hostingkartinok.com/uploads/images/2020/02/2b7e28d1b727a16e75ac9bd4ff3033c0.jpg">
            <p></p>
            <p><b> Конференц-зона бизнес-инкубатора CLEVER это:</b></p>
            <p>
                <li> современные с удобной инфраструктурой помещения;</li>
            </p>
            <p>
                <li> гостеприимная и доброжелательная атмосфера;</li>
            </p>
            <p>
                <li>площадка для проведения мероприятий различного формата и статуса;</li>
            </p>
            <p>
                <li> всегда свободная и охраняемая парковка (для арендаторов) на 100 машин.</li>
            </p>
        </div>
    </div>
</div>