<div class="project">
    <div class="project__content" *ngIf="project">
        <div *ngIf="userAdmin" class="project__approved">
            <div *ngIf="project.approved">
                <img class="project__approved-img" src="/assets/images/ok.png">
                <div class="project__approved-text">Проект одобрен</div>
                <button class="project__button" (click)=approveProject(false)>Отменить одобрение проекта</button>
            </div>
            <div *ngIf="!project.approved">
                <img class="project__approved-img" src="/assets/images/load.png">
                <div class="project__approved-text">Проект на расмотрении</div>
                <button class="project__button" (click)=approveProject(true)>Одобрить проект</button>
            </div>
        </div>
        <p><b>Название проекта: </b>{{project.name}}</p>
        <div *ngIf="userAdmin">
            <p><b>Стоимость проекта:</b> {{project.cost}} рублей</p>
            <p><b>Время на реализацию:</b> {{project.timelimitmonths}} месяцев</p>
        </div>
        <p><b>Цель проекта:</b> {{project.target}}</p>
        <div class="project__description">
            <p class="project__description-header"><b>Описание проекта</b></p>
            <p> {{project.description}}</p>
        </div>

        <table *ngIf="userAdmin" class="project__users">
            <p><b>Пользователи, участвующие в проекте:</b></p>
            <ng-container *ngIf="users">
            <tbody>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr *ngFor="let user of usersInProject">
                        <td><div class="project__user">{{user.name}}</div></td>
                        <td><button class = "user__button" (click) = "getUserInfo(user.id)">Подробнее...</button></td>
                </tr>
            </tbody>
        </ng-container>
        </table>
    </div>
</div>