<div class="restore">
    <div class="restore__window">
        <form [formGroup]="emailForm" class="restore__form">
            <div *ngIf="!send">
                <div *ngIf="!emailForm.controls['email'].errors || !emailForm.controls['email'].touched"
                    class="restore__error-message"></div>
                <div *ngIf="emailForm.controls['email'].errors && emailForm.controls['email'].touched">
                    <div *ngIf="emailForm.controls['email'].errors.email" class="restore__error-message">
                        Некоректный email
                    </div>
                    <div *ngIf="emailForm.controls['email'].errors.required" class="restore__error-message">
                        Введите email
                    </div>
                </div>
                <input class="restore__input" type="text" placeholder="Введите ваш email" formControlName="email" />
                <button class="restore__button" (click)="sendEmail(emailForm.value.email)"
                    [disabled]="emailForm.invalid">Подтвердить</button>
            </div>
            <div *ngIf="!successSend && send && !falseSend">
                <img class="restore__load" src="assets/images/load.gif">
            </div>
            <div *ngIf="successSend || falseSend">
                {{message}}
            </div>
        </form>
    </div>
</div>